.atuacao
    .wrapper
        background $img('bg-azul-1.jpg') no-repeat center top $azul
        background-size cover
        > .center
            padding-top 65px
            +tablet()
                padding-top 50px
    #pager
        text-align center
        margin-bottom 40px
        a
            display inline-block
            width 20px
            height 20px
            text-indent -9999px
            background #fff
            border 3px solid #fff
            transition background .3s
            margin 0 10px
            border-radius 100%
            &.cycle-pager-active
                background $roxo
    .atuacao-slides
        text-align center
        .cycle-arrow
            display block
            position absolute
            height 100%
            width 10%
            background-position center
            background-repeat no-repeat
            opacity .6
            transition opacity .3s
            text-indent -9999px
            z-index 101
            top 0
            +below($tablet)
                width 20px
            +mobile()
                background-position center 17px
            &:hover
                opacity 1
            &.cycle-prev
                left 0
                background-image $img('seta-esq.png')
                +below($tablet)
                    left -3%
            &.cycle-next
                right 0
                background-image $img('seta-dir.png')
                +below($tablet)
                    right -3%
        .slide
            width 100%
            h3
                display inline-block
                max-width 730px
                calibri 80 bold
                line-height .9
                color #fff
                cursor default
                margin 0 0 40px
                padding-right 95px
                background-position center right
                background-repeat no-repeat
                +tablet()
                    font-size 64px
                +mobile()
                    margin-bottom 20px
                    font-size 36px
                    padding-right 0
                    padding-top 70px
                    background-position top center
                    background-size auto 60px
                &.planejamento
                    background-image $img('atuacao-planejamento.png')
                &.execucao
                    background-image $img('atuacao-execucao.png')
                &.monitoramento-e-controle
                    background-image $img('atuacao-monitoramento.png')
            p
                width 60%
                margin 5px auto
                color #fff
                calibri 17
                +below($tablet)
                    width 100%
                &:before
                &:after
                    content "\2219"
                    margin 0 5px
            a
                display inline-block
                background #fff
                margin-top 40px
                padding 12px 35px
                text-decoration none
                border-radius 35px
                transition .3s
                border 2px solid transparent
                +mobile()
                    margin 20px 0
                    padding 12px 25px
                span
                    display inline-block
                    calibri 30 bold
                    color $roxo
                    padding-right 28px
                    background $img('seta-projetos.png') no-repeat center right
                    transition .3s
                    +mobile()
                        font-size 24px
                        padding-right 20px
                        background-size 10px auto
                &:hover
                    background transparent
                    border 2px solid #fff
                    span
                        color #fff
                        background-image $img('seta-dir.png')
