.clientes
    .wrapper
        background $azul
        > .center
            padding-top 70px
            +mobile()
                padding-top 40px
    .cliente-row
        width 100%
        margin-bottom 60px
        +mobile()
            margin-bottom 40px
        &:last-child
            margin-bottom 0
        clearfix()
        .marca
            width 210px
            height 210px
            float left
            border-radius 100%
            overflow hidden
            +tablet()
                width 180px
                height 180px
            +mobile()
                width 180px
                height 180px
                float none
                margin 0 auto 20px
            img
                display block
                width 100%
                height 100%
        .texto
            width 690px
            float left
            margin-left 50px
            +tablet()
                width calc('100% - 230px')
            +mobile()
                width 100%
                margin 0
                h3
                    text-align center
            h3
                margin 0 0 20px
                calibri 25 bold
                color #fff
            p
                margin 5px auto
                color #fff
                calibri 17
