@keyframes seta
    0%
        background-position 82% 53%
    100%
        background-position 86% 53%
.contato
    .wrapper
        background $img('bg-azul-2.jpg') no-repeat center 70px $azul
        background-size cover
        padding-bottom 380px
        +mobile()
            padding-bottom 280px
        > .center
            padding-top 65px
    #form-contato
        width 540px
        height 320px
        float left
        padding-left 140px
        +tablet()
            width 45%
            padding 0
        +mobile()
            width 100%
            padding 0
            float none
        ::-webkit-input-placeholder
           color #fff
        :-moz-placeholder
           color #fff
        ::-moz-placeholder
           color #fff
        :-ms-input-placeholder
           color #fff
        input[type='text']
        input[type='email']
            width 100%
            border 2px solid #fff
            outline 0
            background transparent
            calibri 17
            color #fff
            padding 10px 20px
            border-radius 40px
            margin-bottom 10px
        textarea
            width 100%
            border 2px solid #fff
            outline 0
            background transparent
            resize none
            calibri 17
            color #fff
            height 150px
            padding 10px 20px
            border-radius 20px
        input[type='submit']
            float right
            display inline-block
            background $img('contato-seta-enviar.png') no-repeat 82% 53% #fff
            outline 0
            border 0
            calibri 16 bold
            color $roxo
            padding 10px 45px 10px 20px
            margin-top 8px
            border-radius 20px
            &:hover
                animation-name seta
                animation-duration .3s
                animation-iteration-count infinite
                animation-timing-function linear
                animation-direction alternate
        #form-resposta
            calibri 14 bold
            color #fff
            margin-top 20px
            +mobile()
                margin-top 15px
    .info
        width 465px
        float right
        calibri 18
        color #fff
        +tablet()
            width 45%
        +mobile()
            width 100%
            float none
            margin-top 40px
            calibri 16
        .email
            min-height 20px
            display inline-block
            color #fff
            text-decoration none
            padding-left 35px
            background $img('contato-email.png') no-repeat center left
        .telefone
            min-height 20px
            calibri 25
            padding-left 35px
            margin 25px 0
            background $img('contato-telefone.png') no-repeat center left
        .endereco
            min-height 20px
            padding-left 35px
            background $img('contato-endereco.png') no-repeat left 3px
            p
                margin 0
    .googlemaps
        width 100%
        height 300px
        position absolute
        bottom 0
        left 0
        z-index 101
        +mobile()
            height 240px
        iframe
            width 100%
            height 100%
    footer
        display none
