.empresa
    .wrapper
        background #F0F0F0
    .social
        a
            opacity .6
            +below($tablet)
                opacity 1
        .twitter
            background-image $img('twitter-cinza.png')
        .instagram
            background-image $img('instagram-cinza.png')
        .linkedin
            background-image $img('linkedin-cinza.png')
    footer
        background transparent
        border-color $roxo
        p
        a
            color $roxo !important
        a:hover
            border-color $roxo !important
        a:last-child
            background-image $img('trupe-roxo.png') !important
    .texto
        width 680px
        float left
        padding-top 75px
        +below($tablet)
            width 100%
            padding-top 50px
        +mobile()
            padding-top 30px
        h3
            calibri 36 bold
            color $roxo
            cursor default
            margin-top 0
            +mobile()
                font-size 28px
        p
            calibri 17
            color $texto
            line-height 1.4
            margin 0 0 30px
            +mobile()
                font-size 16px
            strong
                color $roxo
        .texto-chamada
            clearfix()
            img
                width 135px
                display block
                float left
                +tablet()
                    width 100px
                    height auto
                +mobile()
                    margin-bottom 15px
            p
                width 530px
                float right
                margin-bottom 20px
                +tablet()
                    width calc('100% - 120px')
                +mobile()
                    width 100%
                &:last-child
                    margin 0
            margin-bottom 35px
            &.texto-chamada-contato
                p
                    color $roxo
                    calibri 24 bold
                    a
                        display inline-block
                        color $azul
                        text-decoration none
                        border 2px solid $roxo
                        padding 3px 15px
                        margin-left 3px
                        border-radius 25px
                        transition background .3s, color .3s
                        &:hover
                            background $roxo
                            color #fff
    .marca
        width 340px
        float right
        padding-top 75px
        img
            display block
        +below($tablet)
            padding-top 40px
            width 100%
            float left
            img
                max-width 100%
        +mobile()
            padding-top 50px
            width 200px
