.home
    min-height 750px
    +mobile()
        min-height 600px

.banners
    position absolute
    width 100%
    height 100%
    top 70px
    left 0
    .banners-slides
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        .slide
            position absolute
            width 100%
            height 100%
            background-size cover
            background-position center top
            background-repeat no-repeat
            padding 240px 0 0
            color #fff
            cursor default
            +tablet()
                padding-top 200px
            +mobile()
                padding-top 140px
            p
                width 70%
                line-height 40px
                +below($tablet)
                    width 100%
                +mobile()
                    line-height 1.1
                    br
                        display none
    > .center
        height 100%
        .logo
            position absolute
            width 275px
            height 149px
            background $img('marca-home.png') no-repeat center
            z-index 101
            top 24px
            +tablet()
                width 220px
                height 130px
                background-size 100% auto
            +mobile()
                top 20px
                width 160px
                height 100px
                background-size 100% auto
        #pager
            position absolute
            bottom 240px
            right 0
            z-index 101
            +mobile()
                display none
            a
                display block
                float left
                text-indent -9999px
                background #fff
                border 2px solid #fff
                width 15px
                height 15px
                border-radius 100%
                margin-left 10px
                transition background .3s
                &.cycle-pager-active
                    background transparent
