.parceiros
    .wrapper
        background $img('bg-roxo-2.jpg') no-repeat center 70px $roxo
        background-size cover
        > .center
            padding-top 65px
            +tablet()
                padding-top 50px
    #pager
        text-align center
        margin-bottom 40px
        a
            display inline-block
            width 20px
            height 20px
            text-indent -9999px
            background #fff
            border 3px solid #fff
            transition background .3s
            margin 0 10px
            border-radius 100%
            &.cycle-pager-active
                background $azul
    .parceiros-slides
        text-align center
        .cycle-arrow
            display block
            position absolute
            height 100%
            width 10%
            background-position center
            background-repeat no-repeat
            opacity .6
            transition opacity .3s
            text-indent -9999px
            z-index 101
            top 0
            +below($tablet)
                width 20px
            +tablet()
                background-position center 120px
            +mobile()
                background-position center 90px
            &:hover
                opacity 1
            &.cycle-prev
                left 0
                background-image $img('seta-esq.png')
            &.cycle-next
                right 0
                background-image $img('seta-dir.png')
        .slide
            width 100%
            .imagem
                position relative
                width 264px
                height 264px
                margin 0 auto 20px
                border-radius 100%
                overflow hidden
                border 2px solid #fff
                +mobile()
                    width 200px
                    height 200px
                img
                    display block
                    width 100%
                    height auto
            h3
                calibri 25 bold
                color #fff
                margin 0 0 10px
            p
                width 60%
                margin 10px auto
                line-height 1.4
                color #fff
                calibri 17
                +below($tablet)
                    width 100%
