.projetos
    .wrapper
        background $img('bg-roxo-1.jpg') no-repeat center top $roxo
        background-size cover
        > .center
            padding-top 65px
            +tablet()
                padding-top 50px
    #pager
        text-align center
        margin-bottom 40px
        +tablet()
            margin-bottom 30px
        +mobile()
            margin-bottom 20px
        clearfix()
        a
            display block
            width 335px
            float left
            height 64px
            line-height 62px
            padding 0 60px
            border 2px solid #fff
            background transparent
            border-radius 40px
            text-decoration none
            color $azul
            transition background .3s
            margin-right 37px
            text-align center
            &:last-child
                margin-right 0
            span
                display inline-block
                calibri 32 bold
                padding-right 35px
                background-position right center
                background-repeat no-repeat
            +tablet()
                width 32%
                margin-right 2%
                height 100px
                padding 5px 0 0
                border-radius 50px
                span
                    font-size 22px
                    padding-right 0
                    padding-top 50px
                    line-height 1
                    background-position center 10px
                &.monitoramento-e-controle
                    padding-top 3px !important
                    span
                        padding-top 42px
            +mobile()
                width 100%
                margin 0 0 10px
                padding-left 0
                padding-right 0
                span
                    font-size 22px
                    padding-right 40px
            &:hover
            &.cycle-pager-active
                background #fff
            &.monitoramento-e-controle
                line-height 1
                padding-top 8px
                span
                    max-width 220px
                    calibri 22 bold
                    background-image $img('projetos-monitoramento.png')
                +mobile()
                    line-height 1.05
            &.planejamento
                span
                    background-image $img('projetos-planejamento.png')
            &.execucao
                span
                    background-image $img('projetos-execucao.png')
    .projetos-slides
        text-align center
        .slide
            width 100%
            p
                width 60%
                margin 24px auto
                color #fff
                calibri 17
                &:first-child
                    margin-top 0
                +below($tablet)
                    width 100%
                &:before
                &:after
                    content "\2219"
                    margin 0 5px
