.wrapper
    width 100%
    min-width 1100px
    min-height 100%
    position relative
    padding-bottom 200px
    overflow hidden
    +below($tablet)
        width 100%
        min-width auto
    +mobile()
        padding-bottom 160px

header
    height 70px
    background #fff
    .center
        height 70px
    h1
        display block
        float left
        margin 7px 0 0
        padding 0
        a
            display block
            width 55px
            height 55px
            text-indent -9999px
            background $img('marca-header.png') no-repeat center
    h2
        display block
        float left
        height 70px
        margin 0
        padding 0
        line-height 70px
        calibri 28 bold
        cursor default
        color $azul
        margin-left 24px
        +mobile()
            display none
    #menu-toggle
        position absolute
        z-index 9999
        width 70px
        height 70px
        top 0
        right 0
        background $azul
        border 0
        outline 0
        &:after
            content ""
            position absolute
            height 100%
            width 2000px
            background $azul
            top 0
            left 70px
        .lines
            display block
            width 35%
            height 2px
            margin 34px auto
            background #fff
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 2px
                background #fff
                transition .3s ease
            &:before
                top 6px
            &:after
                top -6px
        &.open
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
            + nav
                opacity 1
                right 0
                z-index 9998
    nav
        display block
        background $azul
        position absolute
        right -200px
        opacity 0
        top 0
        transition all .3s ease, height .1ms
        padding-top 80px
        padding-right 23px
        padding-left 60px
        text-align right
        min-height 450px
        z-index -1
        box-shadow -2px 0 4px rgba(0,0,0,.1)
        a
            display block
            calibri 24 bold
            color #fff
            transition color .3s
            text-decoration none
            margin-bottom 30px
            &:hover
            &.active
                color #473a47
        .bg
            position absolute
            width 2000px
            height 100%
            background $azul
            left 100%
            top 0
    .social
        position absolute
        right 0
        top 85px
        margin 0
        padding 0
        list-style-type none
        z-index 101
        li
            display block
            float left
            a
                display block
                width 20px
                height 20px
                text-indent -9999px
                margin-left 5px
                opacity .8
                transition opacity .3s
                &:hover
                    opacity 1
                +below($tablet)
                    opacity 1
                &.twitter
                    background $img('twitter.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
                &.linkedin
                    background $img('linkedin.png') no-repeat center

footer
    position absolute
    width 100%
    bottom 0
    left 0
    background rgba(0,0,0,.35)
    border-top 1px solid rgba(255,255,255,.6)
    z-index 101
    p
        margin 0
        padding 40px 0
        width 50%
        cursor default
        &.left
            float left
            calibri 15 bold
            color #fff
            margin-top 10px
            +below($tablet)
                width 100%
                float none
                text-align center
                padding 20px 0 0
                span
                    display block
                    font-size 0
            a
                color #fff
                text-decoration none
                border-bottom 1px solid transparent
                transition border .3s
                &:hover
                    border-bottom 1px solid rgba(255,255,255,.8)
            span
                margin 0 6px
                font-weight normal
        &.right
            float right
            text-align right
            calibri 11
            color #fff
            line-height 1.7
            +below($tablet)
                float none
                width 100%
                text-align center
                padding 10px 0 20px
            a
                display inline-block
                color #fff
                text-decoration none
                height 15px
                line-height 15px
                &:last-child
                    padding-right 25px
                    background $img('trupe.png') no-repeat center right
