*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    calibri 14
    color $texto

body
    min-height 450px

::selection
    background $roxo
    color #fff

::-moz-selection
    background $roxo
    color #fff

.center
    width 1080px
    position relative
    margin 0 auto
    clearfix()
    +below($tablet)
        width 90%

body
    &:after
        content "" // preload images
        display none
