// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$roxo  = #8d6c8d
$azul  = #10a3b9
$texto = #828282

// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

// Fonts
@font-face
    font-family 'CalibriFallback'
    src url('fonts/CalibriFallback.eot')
    src url('fonts/CalibriFallback.eot?#iefix') format('embedded-opentype'),
         url('fonts/CalibriFallback.woff') format('woff'),
         url('fonts/CalibriFallback.ttf') format('truetype')
    font-weight normal
    font-style normal
@font-face
    font-family 'CalibriFallback'
    src url('fonts/CalibriFallbackBold.eot')
    src url('fonts/CalibriFallbackBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/CalibriFallbackBold.woff') format('woff'),
         url('fonts/CalibriFallbackBold.ttf') format('truetype')
    font-weight bold
    font-style normal

calibri($size, $style = normal)
    font-size $size + 0px
    font-family Calibri, CalibriFallback, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
    font-weight normal
    if $style == bold
        font-weight bold
